/* body{
    background-color: #282c34;
    color: #61dafb;
    text-align: center;
} */
body{
    background-image: url(/public/white-painted-wall-texture-background_53876-138197.avif);
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #61dafb;
    

}