body{
    background-image: url(/public/358836.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
/* body{
    background-color: #282c34;
    color: #61dafb;
    text-align: center;
} */